body {
    background: #0d1117;
    font-family: Arial, sans-serif;
    color: #c9d1d9;
}

.container {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: #161b22;
    border-radius: 10px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.low {
    background: #238636;
    color: white;
}

.medium {
    background: #1f6feb;
    color: white;
}

.high {
    background: #da3633;
    color: white;
}

button:hover {
    opacity: 0.85;
}

.logout {
    display: block;
    margin-top: 20px;
    color: #58a6ff;
    text-decoration: none;
}

.error {
    color: #f85149;
}

.success {
    color: #3fb950;
}
